img{width:100%;}
.product{background:#fff; border-radius: 5px; min-height: 316px;}
.product:hover {background:#f2f2f2;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);}
.product-img {border-radius: 0px 0px 0 0;max-height:140px;overflow: hidden; padding: 12px}
.product-block{padding:5px;}
.product-footer {background:#f4f4f4;border-top:1px solid #ccc;padding:10px 15px 15px 10px; min-height: 75px}
.divider {border: 1px solid #ccc;}
.title-links ul {margin-bottom:10px; margin-top:10px;}

.category{
    background:#fff;
    height: 100%;
    outline: 1px solid #d8d8d8;
    padding: 20px;
}

.category i{
    font-size: 30px;
    color: #6ba0da;
}

.category-name{
    display: block;
}

.category-container{
    padding: 0px !important;
}

.navbar-brand{
    width: 50px !important;
}
.navbar-brand img{
    width: 50px !important;
}

#content, #container{
    background-color: #ebebeb !important;
}

h1{
    background: none;
    color: #777373 !important;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

hr{
    border-top: 1px solid #cec6c6 !important;
}

em{
    font-weight: bold;
}